{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}
  {% for service in services reversed %}

      <section class="page-section">
        <div class="container">
          <div class="product-item">
            <div class="product-item-title d-flex">
              <div class="bg-faded p-5 d-flex mr-auto rounded">
                <h2 class="section-heading mb-0">
                  <span class="section-heading-upper">{{ service.subtitle }}</span>
                  <span class="section-heading-lower">{{ service.title }}</span>
                </h2>
              </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ service.image.url }}" alt="">
            <div class="product-item-description d-flex ml-auto">
              <div class="bg-faded p-5 rounded">
                <p class="mb-0">
                {{ service.content }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  {% endfor %}
{% endblock %}